<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medproject">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature android:name="android.hardware.camera2.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--  Auth workflow-->
        <activity android:name=".auth.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".auth.RegisterActivity" />

        <activity android:name=".auth.RegisterPacientActivity" />

        <activity android:name=".auth.RegisterDoctorActivity" />


        <!--  Patient workflow-->
        <activity android:name=".PatientWorkflow.MyMedications.MyMedications"/>


        <activity android:name=".PatientWorkflow.MyMedications.DeleteMedicationPopupActivity" android:theme="@android:style/Theme.Dialog" />

        <activity android:name=".PatientWorkflow.MyDrugs.MyDrugs"/>

        <activity android:name=".PatientWorkflow.DrugDetails.DrugDetailsAndAdministration"/>


        <!--  Doctor workflow  -->
        <activity android:name=".ScanQR"/>

        <activity android:name=".GenerateQRCode" />

        <activity android:name=".AddPatientToDoctorActivity" />

        <activity android:name=".MyPatientsActivity" />

        <activity android:name=".ListActivity" />

        <activity android:name=".DrugActivity" />
        <activity android:name=".DeletePacientPopupActivity" android:theme="@android:style/Theme.Dialog" />

        <activity android:name=".Details" />

    </application>

</manifest>