<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PatientWorkflow.MyMedications"
            android:label="@string/title_activity_my_medications">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PatientWorkflow.DeleteMedicationPopupActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".AddPatient"></activity>
        <activity android:name=".MyPatientsActivity"></activity>
        <activity android:name=".auth.LoginActivity"></activity>
        <activity android:name=".auth.RegisterActivity" />
        <activity android:name=".auth.RegisterPacientActivity" />
        <activity android:name=".auth.RegisterDoctorActivity" />
        <activity android:name=".ListActivity" />
        <activity android:name=".DrugActivity" />
        <activity
            android:name=".DeletePacientPopupActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".Details">
        </activity>
    </application>

</manifest>